
<div class="container mb-5">
  <!-- Accordion -->
  <div class="my-5">
    <h6 class="fw-bold mb-3 text-primary">Accordion</h6>
    
      <div ngbAccordion [closeOthers]="true" class="accordion-flush gu-accordion">
        @for (accordion of accordions; track accordion) {
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionToggle class="accordion-button">
                    <lucide-icon name="chevrons-up-down" [size]="18" [strokeWidth]="2.5" class="me-1"></lucide-icon>
                    <span class="fw-semibold">{{ accordion.title }}</span>
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>{{ accordion.content }}</ng-template>
                    </div>
                </div>
            </div>
        }
      </div>
  </div>
  
  <!-- Alert -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Alert</h6>
    @for (alert of alerts; track alert) {
      <ngb-alert [type]="alert.type" [dismissible]="true" (closed)="close(alert)" class="gu-alert d-flex align-items-start">
        <lucide-icon [name]="alert.icon" class="alert-icon"></lucide-icon>
        <div>
          <h4 class="alert-heading">{{ alert.title }}</h4>
          <p class="alert-content">{{ alert.message }}</p>
          <div class="alert-actions">
            <a href="#" class="alert-link">View details</a>
          </div>
        </div>
      </ngb-alert>
    }
  </div>

  <!-- Badges -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Badges</h6>
    <div class="d-flex gap-3 flex-wrap mb-3">
      <span class="gu-badge badge-primary">Badge</span>
      <span class="gu-badge badge-secondary">Badge</span>
      <span class="gu-badge badge-warning">Badge</span>
      <span class="gu-badge badge-danger">Badge</span>
      <span class="gu-badge badge-success">Badge</span>
      <span class="gu-badge badge-light">Badge</span>
      <span class="gu-badge badge-dark">Badge</span>
    </div>
    <div class="d-flex flex-wrap gap-3">
      <span class="gu-badge badge-dot-primary">Badge</span>
      <span class="gu-badge badge-dot-secondary">Badge</span>
      <span class="gu-badge badge-dot-warning">Badge</span>
      <span class="gu-badge badge-dot-danger">Badge</span>
      <span class="gu-badge badge-dot-success">Badge</span>
      <span class="gu-badge badge-dot-light">Badge</span>
      <span class="gu-badge badge-dot-dark">Badge</span>
    </div>
  </div>

  <!-- Breadcrumbs -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Breadcrumbs</h6>
    <nav aria-label="breadcrumb">
      <ol class="gu-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
  </div>

  <!-- Buttons -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Buttons</h6>
    <div class="d-flex gap-3 flex-wrap mb-3">
      <button class="gu-btn btn-primary">Button</button>
      <button class="gu-btn btn-danger">Button</button>
      <button class="gu-btn btn-outline">Outline</button>
      <button class="gu-btn btn-text-primary">Button</button>
      <button class="gu-btn btn-text-danger">Button</button>
      <button class="gu-btn btn-text">Outline</button>
    </div>
    
    <div class="d-flex gap-3 flex-wrap mb-3">
      <button class="gu-btn btn-primary btn-icon">
        Button
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-danger btn-icon">
        Button
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-outline btn-icon">
        Button
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-text-primary btn-icon">
        Button
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-text-danger btn-icon">
        Button
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-outline btn-text btn-icon">
        Button
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
    </div>

    <div class="d-flex gap-3 flex-wrap mb-3">
      <button class="gu-btn btn-primary btn-icon-only">
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-danger btn-icon-only">
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-outline btn-icon-only">
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-primary btn-text-primary btn-icon-only">
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-danger btn-text-danger btn-icon-only">
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
      <button class="gu-btn btn-outline btn-text btn-icon-only">
        <lucide-icon name="circle-check-big" size="14" strokeWidth="3"></lucide-icon>
      </button>
    </div>

    <div class="d-flex gap-3 mb-3">
      <div class="btn-group">
        <button class="gu-btn btn-outline">Select All</button>
        <button class="gu-btn btn-outline">Active</button>
        <button class="gu-btn btn-outline">Overdue</button>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Pagination</h6>
    <ngb-pagination [collectionSize]="40" [(page)]="page" aria-label="Default pagination" class="gu-pagination">
      <ng-template ngbPaginationPrevious>
        <lucide-icon name="chevron-left" size="16"></lucide-icon>
      </ng-template>
	    <ng-template ngbPaginationNext>
        <lucide-icon name="chevron-right" size="16"></lucide-icon>
      </ng-template>
    </ngb-pagination>
  </div>

  <!-- Dropdowns -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Dropdowns</h6>
    <div class="d-flex gap-3 mb-3">
      <div ngbDropdown class="d-inline-block gu-dropdown">
        <button type="button" class="btn gu-btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
          Toggle dropdown
          <lucide-icon name="chevron-down" size="16" strokeWidth="3"></lucide-icon>
        </button>
        <div ngbDropdownMenu aria-labelledby="gu-dropdown">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block gu-dropdown" placement="bottom-end">
        <button type="button" class="btn gu-btn btn-text" id="dropdownBasic1" ngbDropdownToggle>
          <div class="d-flex flex-column text-end">
            <p class="fw-bold mb-0">John Doe</p>
            <small class="text-muted mb-0">Administrator</small>
          </div>
          <div class="bg-primary p-2 text-white fw-bold rounded-circle d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">
            JD
          </div>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="gu-dropdown-lg">
          <p class="dropdown-header">Administration Menu</p>
          <div class="dropdown-divider"></div>
          @for (menu of dropdownMenus; track menu) {
            <button ngbDropdownItem>
              <lucide-icon [name]="menu.icon" size="16"></lucide-icon>
              {{ menu.label }}
            </button>
          }
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="text-danger">
            <lucide-icon name="log-out" size="16" class="text-danger"></lucide-icon>
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Modals</h6>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h6 class="modal-title fw-bold">Are you sure to delete this invoice?</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0">
          There's no way to retrieve this invoice once deleted. Still want to delete it?
        </p>
      </div>
      <div class="modal-footer">
        <button class="gu-btn btn-text" (click)="modal.close()">Cancel</button>
        <button type="button" class="gu-btn btn-danger" (click)="modal.close()">Delete anyway</button>
      </div>
    </ng-template>

    <ng-template #formContent let-modal>
      <div class="modal-header">
        <h6 class="modal-title fw-bold">Add Payment Option</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="" class="gu-form-label">Option name</label>
          <ng-select appearance="outline" class="gu-form-select" placeholder="Select payment option" #agreeSelect labelForId="yesno" [searchable]="false">
            <lucide-icon name="chevron-down" size="16" strokeWidth="3"></lucide-icon>
            <ng-option value="specific-invoice">Specific Invoice</ng-option>
            <ng-option value="lump-sum">Lump Sum Payment</ng-option>
            <ng-option value="last-statement">Last Statement</ng-option>
            <ng-option value="lump-sum">Others</ng-option>
          </ng-select>
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Caption</label>
          <input type="text" class="gu-form-control" placeholder="E.g. Last Statement">
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Validation rules</label>
          <textarea class="gu-form-control" rows="6"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="gu-btn btn-text" (click)="modal.close()">Cancel</button>
        <button type="button" class="gu-btn btn-primary" (click)="modal.close()">Save Changes</button>
      </div>
    </ng-template>
    <div class="d-flex gap-3">
      <button class="gu-btn btn-primary" (click)="open(content)">Open Modal</button>
      <button class="gu-btn btn-outline" (click)="open(formContent)">Open Form Modal</button>
    </div>
  </div>

  <!-- Input Fields -->
  <div class="mb-5">
    <h6 class="fw-bold mb-3 text-primary">Input fields</h6>
    <div style="max-width: 450px;">
      <div class="gu-card">
        <div class="card-body">
          <div class="mb-3">
            <label for="" class="gu-form-label">Text Label</label>
            <input type="text" name="default-field" class="gu-form-control" placeholder="Input field">
            <div class="helper-text">This is a helper text message below text field.</div>
          </div>
          <div class="mb-3">
            <label for="" class="gu-form-label">Text Label</label>
            <input type="text" name="error-field" class="gu-form-control form-control-danger" placeholder="Input field">
            <div class="helper-text">This is an error message.</div>
          </div>
          <div class="mb-3">
            <ng-select appearance="outline" class="gu-form-select" placeholder="Select payment option" #agreeSelect labelForId="yesno" [searchable]="false">
              <lucide-icon name="chevron-down" size="16" strokeWidth="3"></lucide-icon>
              <ng-option value="specific-invoice">Specific Invoice</ng-option>
              <ng-option value="lump-sum">Lump Sum Payment</ng-option>
              <ng-option value="last-statement">Last Statement</ng-option>
              <ng-option value="lump-sum">Others</ng-option>
            </ng-select>
          </div>
          <div class="mb-3">
            <label for="" class="gu-form-label">Textarea Label</label>
            <textarea class="gu-form-control" name="textarea-field" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Checkbox, Radio & Switches -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Checkbox, Radio, & Switch</h6>
    <div class="row">
      <div class="col">
        <div class="gu-form-check mb-3">
          <input class="gu-form-check-input" type="checkbox" value="" id="disabled-checkbox" disabled>
          <label class="gu-form-check-label" for="disabled-checkbox">
            Disabled checkbox
          </label>
        </div>
        <div class="gu-form-check mb-3">
          <input class="gu-form-check-input" type="checkbox" value="" id="active-checkbox">
          <label class="gu-form-check-label" for="active-checkbox">
            Active checkbox
          </label>
        </div>
        <div class="gu-form-check mb-3">
          <input class="gu-form-check-input" type="checkbox" value="" id="checked-checkbox" checked>
          <label class="gu-form-check-label" for="checked-checkbox">
            Checked checkbox
          </label>
        </div>
      </div>
      <div class="col">
        <div class="gu-form-check mb-3">
          <input class="gu-form-check-input" type="radio" value="" name="radio" id="disabled-radio" disabled>
          <label class="gu-form-check-label" for="disabled-radio">
            Disabled radio
          </label>
        </div>
        <div class="gu-form-check mb-3">
          <input class="gu-form-check-input" type="radio" value="" name="radio" id="active-radio">
          <label class="gu-form-check-label" for="active-radio">
            Active radio
          </label>
        </div>
        <div class="gu-form-check mb-3">
          <input class="gu-form-check-input" type="radio" value="" name="radio" id="checked-radio" checked>
          <label class="gu-form-check-label" for="checked-radio">
            Checked radio
          </label>
        </div>
      </div>
      <div class="col">
        <div class="gu-form-check gu-form-switch mb-3">
          <input class="gu-form-switch-input" type="checkbox" value="" role="switch" id="disabled-switch" disabled>
          <label class="gu-form-switch-label" for="disabled-switch">
            Disabled switch
          </label>
        </div>
        <div class="gu-form-check gu-form-switch mb-3">
          <input class="gu-form-switch-input" type="checkbox" value="" role="switch" id="active-switch">
          <label class="gu-form-switch-label" for="active-switch">
            Active switch
          </label>
        </div>
        <div class="gu-form-check gu-form-switch mb-3">
          <input class="gu-form-switch-input" type="checkbox" value="" role="switch" id="checked-switch" checked>
          <label class="gu-form-switch-label" for="checked-switch">
            Checked switch
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Tables -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Tables</h6>

    <div class="gu-card">
      <div class="py-4 px-3">
        <h6 class="fw-bold mb-4">Open Invoices</h6>
        <div class="d-flex">
          <div class="gu-form-icon" style="width: 250px;">
            <input type="text" name="default-field" class="gu-form-control form-search" placeholder="Search invoice">
            <lucide-icon name="search" size="16"></lucide-icon>
          </div>

          <button class="gu-btn btn-outline btn-icon ms-2">
            Filters
            <lucide-icon name="list-filter" size="14"></lucide-icon>
          </button>

          <div ngbDropdown class="d-inline-block gu-dropdown ms-auto" placement="bottom-end">
            <button type="button" class="btn gu-btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>
              Columns
              <lucide-icon name="columns-3" size="16" strokeWidth="3"></lucide-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="gu-dropdown">
              <p class="dropdown-header">Toggle columns</p>
              <div class="px-3 py-2">
                <div class="gu-form-check gu-form-switch">
                  <input class="gu-form-switch-input" type="checkbox" value="" role="switch" id="date-issued" checked>
                  <label class="gu-form-switch-label" for="date-issued">
                    Date Issued
                  </label>
                </div>
              </div>
              <div class="px-3 py-2">
                <div class="gu-form-check gu-form-switch">
                  <input class="gu-form-switch-input" type="checkbox" value="" role="switch" id="status" checked>
                  <label class="gu-form-switch-label" for="status">
                    Status
                  </label>
                </div>
              </div>
              <div class="px-3 py-2">
                <div class="gu-form-check gu-form-switch">
                  <input class="gu-form-switch-input" type="checkbox" value="" role="switch" id="notes" checked>
                  <label class="gu-form-switch-label" for="notes">
                    Notes
                  </label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="btn-group ms-2">
            <button class="gu-btn btn-outline" (click)="selectAll()">Select All</button>
            <button class="gu-btn btn-outline" (click)="selectStatus('active')">Active</button>
            <button class="gu-btn btn-outline" (click)="selectStatus('overdue')">Overdue</button>
          </div>
        </div>
      </div>
      <table class="gu-table gu-table-sortable" style="table-layout: fixed;">
        <thead>
          <tr>
            <th style="width: 50px;">
              <div class="gu-form-check">
                <input class="gu-form-check-input" type="checkbox" name="row-checked-all" [(ngModel)]="headerCheckbox" (ngModelChange)="headerCheckbox" id="active-checkbox-all">
              </div>
            </th>
            <th class="gu-th-sortable" sortable="id" (sort)="onSort($event)">Invoice No.</th>
            <th class="gu-th-sortable" sortable="dateIssued" (sort)="onSort($event)">Date Issued</th>
            <th class="gu-th-sortable" sortable="status" (sort)="onSort($event)">Status</th>
            <th class="gu-th-sortable text-end" sortable="origAmount" (sort)="onSort($event)">Original Amount</th>
            <th class="gu-th-sortable text-end" sortable="amtDue" (sort)="onSort($event)">Amount Due</th>
            <th class="gu-th-sortable text-end" sortable="amtToPay" (sort)="onSort($event)">Amount To Pay</th>
            <th class="gu-th-sortable" sortable="notes" (sort)="onSort($event)">Notes</th>
          </tr>
        </thead>
        <tbody>
          @for (data of tempDataSet; track data.id) {
            <tr [ngClass]="{'gu-table-error' : data.status >= 950, 'gu-table-selected' : data.checked}">
              <td>
                <div class="gu-form-check">
                  <input class="gu-form-check-input" type="checkbox" name="row-checked" [(ngModel)]="data.checked" (ngModelChange)="changeRowStatus(data.checked)"  id="active-checkbox">
                </div>
              </td>
              <td>
                <a href="#" class="mb-0 text-decoration-none">{{ data.id }}</a>
              </td>
              <td>{{ data.dateIssued | date }}</td>
              <td>
                @if (data.status <= 950) {
                  <span class="gu-badge badge-dot-primary">Active</span>
                } @else {
                  <span class="gu-badge badge-dot-danger">Overdue</span>
                }
              </td>
              <td class="text-end">{{ data.origAmount | currency : '$' }}</td>
              <td class="text-end">{{ data.amtDue | currency : '$' }}</td>
              <td class="text-end">{{ data.amtToPay | currency : '$' }}</td>
              <td>{{ data.notes }}</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="9" class="text-center">
                <div class="d-flex flex-column py-3">
                  <img src="../assets/images/empty-icon.png" alt="" class="mb-2 mx-auto d-block" style="width: 48px;">
                  <p class="fw-bold mb-1">No data present.</p>
                  <p class="mb-0">There are no more active invoices that needs to be paid.</p>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <ngb-pagination 
        [collectionSize]="collectionSize" 
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshData()"
        aria-label="Default pagination" 
        class="gu-pagination ms-auto pe-3"
      >
        <ng-template ngbPaginationPrevious>
          <lucide-icon name="chevron-left" size="16"></lucide-icon>
        </ng-template>
        <ng-template ngbPaginationNext>
          <lucide-icon name="chevron-right" size="16"></lucide-icon>
        </ng-template>
      </ngb-pagination>
    </div>
  </div>

  <!-- Offcanvas -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Offcanvas</h6>
    <ng-template #offcanvas let-offcanvas>
      <div class="offcanvas-header">
        <div class="d-flex flex-column">
          <h6 class="offcanvas-title">Edit form field</h6>
          <p class="offcanvas-subtitle">Edit form field details for paynow form.</p>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
      </div>
      <div class="offcanvas-body">
        <div class="mb-3">
          <label for="" class="gu-form-label">Field Name</label>
          <input type="text" name="default-field" class="gu-form-control">
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Caption</label>
          <input type="text" name="default-field" class="gu-form-control">
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Bind to</label>
          <input type="text" name="default-field" class="gu-form-control">
          <div class="helper-text">This is where the data will reflect.</div>
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Placeholder text</label>
          <input type="text" name="default-field" class="gu-form-control">
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Default value</label>
          <input type="text" name="default-field" class="gu-form-control">
        </div>
        <div class="mb-3">
          <label for="" class="gu-form-label">Custom field id</label>
          <input type="text" name="default-field" class="gu-form-control">
        </div>
      </div>
      <div class="offcanvas-footer">
        <button class="gu-btn btn-block btn-primary w-100">Save Changes</button>
      </div>
    </ng-template>
    <button class="gu-btn btn-outline" (click)="openEnd(offcanvas)">Open Offcanvas</button>
  </div>

  <!-- Tabs -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Tabs</h6>

    <p class="text-muted fw-bold">Default tabs</p>
    <div class="mb-5">
      <ul ngbNav #pillNav="ngbNav" class="gu-nav-pill">
        @for (tab of tabs; track tab) {
          <li [ngbNavItem]="tab.id">
            <button ngbNavLink>{{ tab.title }}</button>
            <ng-template ngbNavContent>
              <p>{{ tab.content }}</p>
            </ng-template>
          </li>
        }
      </ul>
      
      <div [ngbNavOutlet]="pillNav" class="mt-3"></div>
  
      <ul ngbNav #borderNav="ngbNav" class="gu-nav-bordered">
        @for (tab of tabs; track tab) {
          <li [ngbNavItem]="tab.id">
            <button ngbNavLink>{{ tab.title }}</button>
            <ng-template ngbNavContent>
              <p>{{ tab.content }}</p>
            </ng-template>
          </li>
        }
      </ul>
      
      <div [ngbNavOutlet]="borderNav" class="mt-3"></div>
    </div>

    <p class="text-muted fw-bold">Full width tabs</p>
    <div class="row">
      <div class="col">
        <ul ngbNav #pillNavFull="ngbNav" class="gu-nav-pill gu-nav-full">
          @for (tab of tabs; track tab) {
            <li [ngbNavItem]="tab.id">
              <button ngbNavLink>{{ tab.title }}</button>
              <ng-template ngbNavContent>
                <p>{{ tab.content }}</p>
              </ng-template>
            </li>
          }
        </ul>
        
        <div [ngbNavOutlet]="pillNavFull" class="mt-3"></div>
      </div>
      <div class="col">
        <ul ngbNav #borderedNavFull="ngbNav" class="gu-nav-bordered gu-nav-full">
          @for (tab of tabs; track tab) {
            <li [ngbNavItem]="tab.id">
              <button ngbNavLink>{{ tab.title }}</button>
              <ng-template ngbNavContent>
                <p>{{ tab.content }}</p>
              </ng-template>
            </li>
          }
        </ul>
        
        <div [ngbNavOutlet]="borderedNavFull" class="mt-3"></div>
      </div>
    </div>
  </div>

  <!-- Toasts -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Toasts</h6>
    <ngb-toast [autohide]="false" class="gu-toast gu-toast-primary mb-3" (hidden)="show = false">
      <div class="d-flex gap-3 align-items-start">
        <div class="gu-toast-icon">
          <lucide-icon name="shield-check"></lucide-icon>
        </div>
        <div>
          <p class="toast-title">Full protection is active.</p>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <a href="#" class="gu-toast-dismiss">Dismiss</a>
        </div>
      </div>
		</ngb-toast>
    <ngb-toast header="Remaining credits near threshold." [autohide]="false" class="gu-toast gu-toast-danger" (hidden)="show = false">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      <a href="#" class="gu-toast-dismiss">Dismiss</a>
    </ngb-toast>
  </div>

  <!-- Tooltips -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Tooltips</h6>
    <button class="gu-btn btn-outline" placement="right" ngbTooltip="Tooltip on top">Tooltip at top</button>
  </div>

  <!-- Popovers -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Popovers</h6>
    <ng-template #popTitle>
      Popover Title
    </ng-template>
    <ng-template #popContent>
      Popovers can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content or title in a ng-template element.
    </ng-template>
    <button class="gu-btn btn-outline" [ngbPopover]="popContent" [popoverTitle]="popTitle" popoverClass="gu-popover">Popover Default</button>
  </div>

  <!-- Text Editor -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Text Editor</h6>
    <div class="row row-gap-3">
      <div class="col-12 col-md-6">
        <div class="gu-card">
          <div class="card-body">
              <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="mb-3" style="height: 300px;"></ngx-monaco-editor>
              <button class="gu-btn btn-outline" (click)="showEditorCode()">Show code</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="gu-card">
          <div class="card-body">
              <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="mb-3" style="height: 300px;"></ngx-monaco-editor>
              <button class="gu-btn btn-outline" (click)="showEditorCode()">Show code</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Component: Checkbox Group -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Checkbox Group</h6>
    <div class="row">
      <div class="col-4">
        <form [formGroup]="paymentForm">
          <gu-checkbox-group formControlName="option">
            <gu-checkbox value="last-statement" label="Last Statement">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-checkbox>
            <gu-checkbox value="individual-invoice" label="Individual Invoice">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-checkbox>
            <gu-checkbox value="lump-sum" label="Lump Sum Payment">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-checkbox>
          </gu-checkbox-group>
        </form>
       
      </div>
      <div class="col">
        <div class="gu-card">
          <div class="card-body">
            <p class="fw-bold">Selected Values</p>
            <pre class="mb-0">{{ paymentForm.value.option | json }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Component: Radio Group -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Radio Group</h6>
    <div class="row">
      <div class="col-4">
        <form [formGroup]="paymentForm">
          <gu-radio-group formControlName="radio">
            <gu-radio value="last-statement" label="Last Statement">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-radio>
            <gu-radio value="individual-invoice" label="Individual Invoice">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-radio>
            <gu-radio value="lump-sum" label="Lump Sum Payment">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-radio>
          </gu-radio-group>
        </form>
      </div>
      <div class="col">
        <div class="gu-card">
          <div class="card-body">
            <p class="fw-bold">Selected Values</p>
            <pre class="mb-0">{{ paymentForm.value.radio | json }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Component: Switch Group -->
  <div class="mb-5">
    <h6 class="fw-bold text-primary mb-3">Switch Group</h6>
    <div class="row">
      <div class="col-4">
        <form [formGroup]="paymentForm">
          <gu-switch-group formControlName="switch">
            <gu-switch value="last-statement" label="Last Statement">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-switch>
            <gu-switch value="individual-invoice" label="Individual Invoice">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-switch>
            <gu-switch value="lump-sum" label="Lump Sum Payment">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </gu-switch>
          </gu-switch-group>
        </form>
      </div>
      <div class="col">
        <div class="gu-card">
          <div class="card-body">
            <p class="fw-bold">Selected Values</p>
            <pre class="mb-0">{{ paymentForm.value.switch | json }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet />
